header
  a(href="/")
    img(src="assets/images/logo-horiz.png")

  nav.horiz
    a(href="music.html" class=title === "Music" ? "active" : undefined) Music
    a(href="live.html" class=title === "Live" ? "active" : undefined) Live
    a(href="photos.html" class=title === "Photos" ? "active" : undefined) Photos
    a(href="videos.html" class=title === "Videos" ? "active" : undefined) Videos
    a(href="bio.html" class=title === "Bio" ? "active" : undefined) Bio
    
    a(href="https://www.facebook.com/pages/ShowPony/185266874857501", class="social-link", id="facebook-link"): i.fa.fa-facebook-square
    a(href="https://twitter.com/showponyband", class="social-link", id="twitter-link"): i.fa.fa-twitter-square
