doctype html
html
  - var title = ''
  include ./includes/head.jade
  
  body

    section#landing
      div.landing-inner
        img(src="assets/images/logo.png" id="logo")
        
        nav
          a(href="music.html" class=title === "Music" ? "active" : undefined) Music
          a(href="live.html" class=title === "Live" ? "active" : undefined) Live
          a(href="photos.html" class=title === "Photos" ? "active" : undefined) Photos
          a(href="videos.html" class=title === "Videos" ? "active" : undefined) Videos
          a(href="bio.html" class=title === "Bio" ? "active" : undefined) Bio
          br
          a(href="https://www.facebook.com/pages/ShowPony/185266874857501", class="social-link", id="facebook-link"): i.fa.fa-facebook-square
          a(href="https://twitter.com/showponyband", class="social-link", id="twitter-link"): i.fa.fa-twitter-square
                
    section#news
      article
        h1 Next Show
        h2 Thursday, September 10, 2015
        h2 at the Rock &amp; Roll Hotel in Washington DC
        h2 with Albino Rhino, Freeform Radio, Cartoon Weapons
        a(href="https://www.facebook.com/events/898796846870306/") more info...
        
      article
        h1 Latest Photos
        a(href="https://www.facebook.com/media/set/?set=a.650306828438395.1073742844.302368506565564&type=3")      
          ul
            li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/p720x720/11811449_650307025105042_7329735427745340928_n.jpg?oh=aba041f539c5b21aebcdde247103ec22&oe=567DC9B4)")
            li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xft1/t31.0-8/s960x960/11143555_650307021771709_5906574677895801462_o.jpg)")
            li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/11825679_650307151771696_6256639032693601345_n.jpg?oh=422034c2849005beb8469689e4c3d48e&oe=566BEC9D)")
        
      article
        h1 Featured Video
        img(src="assets/images/underconstruction.gif")
        
    include ./includes/footer.jade
      
