doctype html
html
  - var title = 'Instrumental Rock from Washington DC'
  include ./includes/head.jade
  
  body

    section#landing
      
      div.landing-inner
        img(src="assets/images/logo.png" id="logo")
                
        nav
          a(href="music.html" class=title === "Music" ? "active" : undefined) Music
          a(href="live.html" class=title === "Live" ? "active" : undefined) Live
          a(href="photos.html" class=title === "Photos" ? "active" : undefined) Photos
          a(href="videos.html" class=title === "Videos" ? "active" : undefined) Videos
          a(href="bio.html" class=title === "Bio" ? "active" : undefined) Bio
          br
          a(href="https://www.facebook.com/pages/ShowPony/185266874857501", class="social-link")
            img(src="assets/images/webicon-facebook.png")
          a(href="https://twitter.com/showponyband", class="social-link")
            img(src="assets/images/webicon-twitter.png")
          
      img(src="assets/images/clouds.png" id="sketch")
                
    section#news
      article
        h1 Next Show
        h2 Saturday, September 3, 2016
        h3 at Club Cafe in Pittsburgh PA
        h3 with Death Victorious
        a(href="http://www.ticketweb.com/t3/sale/SaleEventDetail?eventId=6845495&pl=opus&dispatch=loadSelectionData") more info...
        
        
      article
        h1 Latest Photos
        != '<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmedia%2Fset%2F%3Fset%3Da.781232335345843.1073743242.302368506565564%26type%3D3&width=350&show_text=true&appId=1399074957069399&height=471" width="350" height="471" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>'
        
      article
        h1 Featured Video
        div.embed-container
          iframe(src='https://www.youtube.com/embed/3cVSKKk6Qlc' frameborder='0' allowfullscreen)
        
    include ./includes/footer.jade
      
